<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.copypasteproject">

    <application
        android:allowBackup="true"
        android:name=".utils.Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CopyPasteProject">

        <activity
            android:name=".kotlin_activity.RegistrationKotlinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin_activity.MainKotlinActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".java_activity.RegistrationJavaActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java_activity.MainJavaActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>